Repository kelly-griffin/sthportal, changes with the labels that .github/labeler.yml gives for each.
All labels: PHP, frontend, documentation

Fixing problems with issue-labeler
  .github/workflows/issue-labeler.yml
Labels: none

Deleted an unnecessary file
  nav-wireframe.html
Labels: none

chore: PR/issue templates, CODEOWNERS, release-drafter, dependabot, editorconfig
  .editorconfig
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: documentation

ci: add PHP Lint status check
  .github/workflows/php-lint.yml
Labels: none

Edited release-drafter
  .github/workflows/release-drafter.yml
Labels: none

ci: fix Release Drafter (correct config path & workflow)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: none

ci(release-drafter): add required template block
  .github/release-drafter.yml
Labels: none

codeql alerts to issues auto
  .github/workflows/codeql-alerts-to-issues.yml
Labels: none

changing pr-labeler version
  .github/workflows/pr-labeler.yml
Labels: none

codeql alerts to issues auto
  .github/workflows/codeql-alerts-to-issues.yml
  .github/workflows/pr-labeler.yml
Labels: none

fix(statistics): remove double-escaping from data-* attributes
  assets/js/statistics.js
Labels: frontend

fix(statistics): remove double-escaping from data-* attributes (#6)
  assets/js/statistics.js
Labels: frontend

<type>(<scope>): <short summary>
  .gitignore
Labels: none

.gitignore addition
  .gitignore
Labels: none

Cleaning up with .gitignore
  .gitignore
Labels: none

Update statistics.js
  assets/js/statistics.js
Labels: frontend

Summary:
  assets/js/statistics.js
Labels: frontend

stats(js): fix duplicated tryNext block causing TS(1005); no behavior change
  assets/js/statistics.js
Labels: frontend

stats(js): fix duplicated tryNext block; keep behavior identical
  assets/js/statistics.js
  statistics.php
Labels: PHP, frontend

Title: stats(js): sanitize photo id and use safeId for all mug URLs
  assets/js/statistics.js
Labels: frontend

stats(js): sanitize photo id and use safeId for all mug URLs (#11)
  assets/js/statistics.js
Labels: frontend

Clean up (#12)
  .gitignore
Labels: none

stats(js): de-dupe avatar fallback; use sanitized id for all mug URLs
  .github/workflows/php-lint.yml
  assets/js/statistics.js
Labels: frontend

stats(js): de-dupe avatar fallback; use sanitized id for all mug URLs
  .github/workflows/php-lint.yml
Labels: none

stats(js): de-dupe avatar fallback; use sanitized id for all mug URLs (#14)
  .github/workflows/php-lint.yml
  assets/js/statistics.js
Labels: frontend

Update statistics.js
  assets/js/statistics.js
Labels: frontend

Dev Update Main (#18)
  .github/workflows/php-lint.yml
  assets/js/statistics.js
Labels: frontend

chore(git): keep runtime dirs; ignore their contents
  backups/.gitkeep
  boxscores/.gitkeep
  data/uploads/.gitkeep
  logs/.gitkeep
  uploads/.gitkeep
Labels: none

chore(git): untrack runtime files under uploads/, data/uploads/, boxscores/, logs/, backups/
  backups/.gitkeep
  backups/.htaccess
  backups/code-20250810-041949.zip
  backups/db-20250810-041624.sql
  backups/db-20250810-041949.sql
  boxscores/.gitkeep
  data/uploads/.gitkeep
  logs/.gitkeep
  logs/.htaccess
  logs/license_checks.log
  uploads/.gitkeep
Labels: none

also fixed php-lint
  .github/workflows/promote-dev-to-main.yml
  .github/workflows/sync-dev-from-main.yml
  .gitignore
  backups/.gitkeep
  boxscores/.gitkeep
  data/uploads/.gitkeep
  logs/.gitkeep
  uploads/.gitkeep
Labels: none

Small fixes (#21)
  .github/workflows/promote-dev-to-main.yml
  .github/workflows/sync-dev-from-main.yml
  .gitignore
  backups/.gitkeep
  backups/.htaccess
  backups/code-20250810-041949.zip
  backups/db-20250810-041624.sql
  backups/db-20250810-041949.sql
  boxscores/.gitkeep
  data/uploads/.gitkeep
  logs/.gitkeep
  logs/.htaccess
  uploads/.gitkeep
Labels: none

fix(statistics.js): sanitize image src assignment with URL()
  assets/js/statistics.js
Labels: frontend

fix(statistics.js): sanitize image src assignment with URL() (#22)
  .github/workflows/php-lint.yml
  assets/js/statistics.js
Labels: frontend

chore(css): prune page-level CSS links; keep nav.css
  ProBoxScore.php
  ProGameLog.php
  admin/assets-hubOLD.php
  admin/news-auto-recap.php
  admin/news-new.php
  admin/news.php
  assets/css/global.css
  assets/css/legacy-shim.css
  box.php
  front-office.php
  home.php
  includes/bootstrap.php
  injuries.php
  leagues.php
  news-article.php
  news-index.php
  player-stats.php
  players.php
  recap.php
  schedule.php
  standings.php
  statistics.php
  team-stats.php
  tournaments.php
  transactions.php
Labels: PHP, frontend

Merging all CSS to global.css - Pruning (#24)
  ProBoxScore.php
  ProGameLog.php
  admin/assets-hubOLD.php
  admin/news-auto-recap.php
  admin/news-new.php
  admin/news.php
  assets/css/global.css
  assets/css/legacy-shim.css
  box.php
  front-office.php
  home.php
  includes/bootstrap.php
  injuries.php
  leagues.php
  news-article.php
  news-index.php
  player-stats.php
  players.php
  recap.php
  schedule.php
  standings.php
  statistics.php
  team-stats.php
  tournaments.php
  transactions.php
Labels: PHP, frontend

WIP: css-merge-fix + in-progress homepage work
  admin/assets-hub.php
  admin/data-pipeline.php
  admin/news-auto-recap.php
  admin/news-new.php
  admin/news.php
  admin/pipeline-quickstart.php
  admin/system-hub.php
  assets/css/global.css
  assets/css/nav.css
  assets/js/auto-logos.js
  assets/js/home.js
  assets/js/players.js
  assets/js/scores.js
  assets/js/statistics.js
  data/logs/pipeline-status.json
  front-office.php
  home.php
  includes/bootstrap.php
  includes/topbar.php
  injuries.php
  leagues.php
  media-hub.php
  media/chat.php
  media/messages.php
  media/news.php
  media/player-of-the-week.php
  media/power-rankings.php
  media/press-releases.php
  media/social.php
  media/team-of-the-week.php
  media/weekly-recaps.php
  players.php
  standings.php
  statistics.php
  tools/build-boxscores-json.php
  tournaments.php
  transactions.php
Labels: PHP, frontend

WIP: css-merge-fix + in-progress homepage work (#34)
  admin/assets-hub.php
  admin/data-pipeline.php
  admin/news-auto-recap.php
  admin/news-new.php
  admin/news.php
  admin/pipeline-quickstart.php
  admin/system-hub.php
  assets/css/global.css
  assets/css/nav.css
  assets/js/auto-logos.js
  assets/js/home.js
  assets/js/players.js
  assets/js/scores.js
  assets/js/statistics.js
  data/logs/pipeline-status.json
  front-office.php
  home.php
  includes/bootstrap.php
  includes/topbar.php
  injuries.php
  leagues.php
  media-hub.php
  media/chat.php
  media/messages.php
  media/news.php
  media/player-of-the-week.php
  media/power-rankings.php
  media/press-releases.php
  media/social.php
  media/team-of-the-week.php
  media/weekly-recaps.php
  players.php
  standings.php
  statistics.php
  tools/build-boxscores-json.php
  tournaments.php
  transactions.php
Labels: PHP, frontend

<type>(<scope>): <short summary>
  .gitignore
Labels: none

Repo Issues (#37)
  .gitignore
Labels: none

## Devlog — Admin scaffolds wired in
  admin/_admin_bootstrap.php
  admin/gm-management.php
  admin/settings-toggles.php
  admin/trade-proposals.php
  assets/css/global.css
  assets/js/admin-pages.js
  includes/topbar.php
Labels: PHP, frontend

.github/labeler.yml:

PHP:
  - "**/*.php"

frontend:
  - "assets/**/*.{css,js,ts,tsx}"
  - "public/**/*.{css,js,ts,tsx}"

documentation:
  - "**/*.md"
